<h1>Edit Sentence</h1>

<%= render('layouts/errors', :object => @sentence) %>

<%= form_for [@story, @sentence] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.submit %>
<% end %>

<%= link_to "Delete this sentence", story_sentence_path(@story, @sentence), :method => 'delete', :data => {
  :confirm => 'Are you sure?'
  }, :class => 'btn btn-outline-danger' %>
